.note-card{
    padding: 8px;
    border: 1px solid #ddd;
    display: flex;
    justify-content: space-between;
    border-radius: 10px;
    margin: 8px 0;
    
}
html{
    background-color: rgb(143, 132, 132);
}
body{
    width: 350px;
    margin: 100px auto;
    padding: 16px;
    background-color: #fff;
    border-radius: 12px;
    box-shadow: 2px 2px 4px 4px rgba(15, 3, 3, 0.527);
}
h2{
    text-align: center;
    font-style: oblique;  
    }
input{
    width: 160px;
    padding: 8px;
    border-radius: 13px;
    cursor: text;
}
form{   
    width: 250px;
    margin: auto;
    }
button{
    font-family: Constantia;
    color: #ddd;
    background-color: rgb(13, 103, 177);
    cursor: pointer;
    width: 60px;
    padding: 8px;
    border-radius: 13px;
    }
.delete-btn{
    color:#000000;
    background-color: white;
    cursor: pointer;
    width: 22px;
    padding: 3px;
    border-radius: 20px;
}
.delete-btn:hover{
    background-color: red;
    color: white;
}