{% load static %}
<!DOCTYPE html>
<html>
    <head><meta charset="utf-8">
        <title>
            KEEP NOTES
        </title>
        <link rel="stylesheet" href="{% static 'notes/style.css' %}">
    </head>
    <body>
        <h2 style="text-align: center;">My Notes</h2>
        <form method="POST" action="{% url 'create_note' %}">
            {% csrf_token %}
            <input type="text" name="title" id="notes" placeholder="Write a short notes">
            <br><textarea name="content" placeholder="Full note (optional)"></textarea>
            <button type="submit" id="button1">Add</button>
        </form>
        <ul id="noteList">
            {% for note in notes %}
                <li><strong>{{ note.title }}</strong>: {{ note.content }}</li>
            {% endfor %}
        </ul>
        <script src="{% static 'notes/script.js' %}">   </script>
    </body>
</html>